In [1]:
import pandas as pd
import tarfile
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB, BernoulliNB
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, ConfusionMatrixDisplay
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
df = pd.read_csv('life_expectancy.csv') 
df

,Country,Year,"Mean Years of Schooling, female (years)","Share of seats in parliament, male (% held by men)",Mean Years of Schooling (years),Inequality in income,Carbon dioxide emissions per capita (production) (tonnes),"Expected Years of Schooling, male (years)",Expected Years of Schooling (years),"Labour force participation rate, female (% ages 15 and older)",...,Mean Age Childbearing (years),Sex Ratio at Birth (males per 100 female births),Total Deaths (thousands),Male Deaths (thousands),Female Deaths (thousands),"Crude Death Rate (deaths per 1,000 population)","Life Expectancy at Birth, both sexes (years)",Live births Surviving to Age 1 (thousands),Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
0,Afghanistan,1990,0.342503,NaN,0.971125,NaN,0.209727,3.939093,2.504050,15.180,...,29.880,105.5,203.514,110.102,93.412,18.449,45.9672,519.005,-666.001,-60.375
1,Afghanistan,1991,0.371860,NaN,1.019356,NaN,0.182525,4.171640,2.806550,15.214,...,29.812,105.6,192.531,104.274,88.257,17.946,46.6631,509.662,39.926,3.721
2,Afghanistan,1992,0.401218,NaN,1.067586,NaN,0.095233,4.417915,3.109050,15.223,...,29.885,105.6,191.913,104.633,87.280,17.222,47.5955,532.989,1834.556,164.629
3,Afghanistan,1993,0.430575,NaN,1.115817,NaN,0.084285,4.678730,3.411550,15.197,...,29.948,105.6,199.165,104.343,94.822,14.838,51.4664,646.635,1171.818,87.304
4,Afghanistan,1994,0.459933,NaN,1.164047,NaN,0.075054,4.954942,3.714050,15.178,...,29.789,105.7,222.214,119.122,103.092,14.689,51.4945,732.684,665.410,43.986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6203,Zimbabwe,2017,8.061880,63.848396,8.461690,27.01627,0.673026,12.039037,11.853943,80.285,...,27.979,102.2,122.177,62.092,60.084,8.266,60.7095,464.979,-59.918,-4.054
6204,Zimbabwe,2018,8.178377,65.714286,8.585395,27.01627,0.821010,12.154317,11.981767,80.309,...,27.956,102.3,120.252,60.873,59.379,7.972,61.4141,468.496,-59.918,-3.972
6205,Zimbabwe,2019,8.296558,65.428571,8.710909,28.76901,0.747610,12.270700,12.110969,80.339,...,27.934,102.3,123.744,63.152,60.592,8.043,61.2925,469.639,-59.918,-3.895
6206,Zimbabwe,2020,8.296558,65.428571,8.710909,28.76901,0.708562,12.270700,12.110969,78.980,...,27.916,102.4,127.551,66.267,61.284,8.132,61.1242,471.214,-29.955,-1.910
6207,Zimbabwe,2021,8.296558,65.428571,8.710909,28.76901,0.708562,12.270700,12.110969,79.308,...,27.915,102.4,144.973,75.309,69.665,9.057,59.2531,473.570,-25.005,-1.562

In [3]:
column_list = df.columns.to_list()
for i in column_list:
    print(i)

Country
Year
Mean Years of Schooling, female (years)
Share of seats in parliament, male (% held by men)
Mean Years of Schooling (years)
Inequality in income
Carbon dioxide emissions per capita (production) (tonnes)
Expected Years of Schooling, male (years)
Expected Years of Schooling (years)
Labour force participation rate, female (% ages 15 and older)
Population with at least some secondary education, female (% ages 25 and older)
Expected Years of Schooling, female (years)
Adolescent Birth Rate (births per 1,000 women ages 15-19)
Material footprint per capita (tonnes)
Mean Years of Schooling, male (years)
Population with at least some secondary education, male (% ages 25 and older)
Share of seats in parliament, female (% held by women)
Inequality in eduation
Gender Development Index (value)
Coefficient of human inequality
Labour force participation rate, male (% ages 15 and older)
Human Development Index (value)
Gross National Income Per Capita (2017 PPP$)
Total Population, as of 1 January (thousands)
Total Population, as of 1 July (thousands)
Male Population, as of 1 July (thousands)
Female Population, as of 1 July (thousands)
Population Density, as of 1 July (persons per square km)
Population Sex Ratio, as of 1 July (males per 100 females)
Median Age, as of 1 July (years)
Natural Change, Births minus Deaths (thousands)
Rate of Natural Change (per 1,000 population)
Population Change (thousands)
Population Growth Rate (percentage)
Population Annual Doubling Time (years)
Births (thousands)
Births by women aged 15 to 19 (thousands)
Crude Birth Rate (births per 1,000 population)
Total Fertility Rate (live births per woman)
Net Reproduction Rate (surviving daughters per woman)
Mean Age Childbearing (years)
Sex Ratio at Birth (males per 100 female births)
Total Deaths (thousands)
Male Deaths (thousands)
Female Deaths (thousands)
Crude Death Rate (deaths per 1,000 population)
Life Expectancy at Birth, both sexes (years)
Live births Surviving to Age 1 (thousands)
Net Number of Migrants (thousands)
Net Migration Rate (per 1,000 population)

In [4]:
df.columns = df.columns.str.lower()
# Dictionary mapping old column names to new column names
column_rename_dict = {
    'country': 'country',
    'year': 'year',
    'mean years of schooling, female (years)': 'mean_years_of_schooling_female',
    'share of seats in parliament, male (% held by men)': 'share_of_male_seats_in_parliament',
    'mean years of schooling (years)': 'mean_years_of_schooling',
    'inequality in income': 'income_inequality',
    'carbon dioxide emissions per capita (production) (tonnes)': 'co2_emissions_per_capita_tonnes',
    'expected years of schooling, male (years)': 'expected_years_of_schooling_male',
    'expected years of schooling (years)': 'expected_years_of_schooling',
    'labour force participation rate, female (% ages 15 and older)': 'female_labour_force_participation_rate',
    'population with at least some secondary education, female (% ages 25 and older)': 'female_population_with_some_secondary_education',
    'expected years of schooling, female (years)': 'expected_years_of_schooling_female',
    'adolescent birth rate (births per 1,000 women ages 15-19)': 'adolescent_birth_rate_per_1000_women_ages_15_19',
    'material footprint per capita (tonnes)': 'material_footprint_per_capita_tonnes',
    'mean years of schooling, male (years)': 'mean_years_of_schooling_male',
    'population with at least some secondary education, male (% ages 25 and older)': 'male_population_with_some_secondary_education',
    'share of seats in parliament, female (% held by women)': 'share_of_female_seats_in_parliament',
    'inequality in eduation': 'education_inequality',
    'gender development index (value)': 'gender_development_index',
    'coefficient of human inequality': 'coefficient_of_human_inequality',
    'labour force participation rate, male (% ages 15 and older)': 'male_labour_force_participation_rate',
    'human development index (value)': 'human_development_index',
    'gross national income per capita (2017 ppp$)': 'gross_national_income_per_capita_2017_ppp',
    'total population, as of 1 january (thousands)': 'total_population_as_of_january_1st_thousands',
    'total population, as of 1 july (thousands)': 'total_population_as_of_july_1st_thousands',
    'male population, as of 1 july (thousands)': 'male_population_as_of_july_1st_thousands',
    'female population, as of 1 july (thousands)': 'female_population_as_of_july_1st_thousands',
    'population density, as of 1 july (persons per square km)': 'population_density_as_of_july_1st_persons_per_square_km',
    'population sex ratio, as of 1 july (males per 100 females)': 'population_sex_ratio_as_of_july_1st_males_per_100_females',
    'median age, as of 1 july (years)': 'median_age_as_of_july_1st_years',
    'natural change, births minus deaths (thousands)': 'natural_change_births_minus_deaths_thousands',
    'rate of natural change (per 1,000 population)': 'rate_of_natural_change_per_1000_population',
    'population change (thousands)': 'population_change_thousands',
    'population growth rate (percentage)': 'population_growth_rate_percentage',
    'population annual doubling time (years)': 'population_annual_doubling_time_years',
    'births (thousands)': 'births_thousands',
    'births by women aged 15 to 19 (thousands)': 'births_by_women_aged_15_to_19_thousands',
    'crude birth rate (births per 1,000 population)': 'crude_birth_rate_births_per_1000_population',
    'total fertility rate (live births per woman)': 'total_fertility_rate_live_births_per_woman',
    'net reproduction rate (surviving daughters per woman)': 'net_reproduction_rate_surviving_daughters_per_woman',
    'mean age childbearing (years)': 'mean_age_of_childbearing_years',
    'sex ratio at birth (males per 100 female births)': 'sex_ratio_at_birth_males_per_100_female_births',
    'total deaths (thousands)': 'total_deaths_thousands',
    'male deaths (thousands)': 'male_deaths_thousands',
    'female deaths (thousands)': 'female_deaths_thousands',
    'crude death rate (deaths per 1,000 population)': 'crude_death_rate_deaths_per_1000_population',
    'life expectancy at birth, both sexes (years)': 'life_expectancy_at_birth_both_sexes_years',
    'live births surviving to age 1 (thousands)': 'live_births_surviving_to_age_1_thousands',
    'net number of migrants (thousands)': 'net_number_of_migrants_thousands',
    'net migration rate (per 1,000 population)': 'net_migration_rate_per_1000_population'
}

# Rename columns
df_new = df.copy()
df_new = df.rename(columns=column_rename_dict, errors='raise')

In [5]:
df_new.head()

,country,year,mean_years_of_schooling_female,share_of_male_seats_in_parliament,mean_years_of_schooling,income_inequality,co2_emissions_per_capita_tonnes,expected_years_of_schooling_male,expected_years_of_schooling,female_labour_force_participation_rate,...,mean_age_of_childbearing_years,sex_ratio_at_birth_males_per_100_female_births,total_deaths_thousands,male_deaths_thousands,female_deaths_thousands,crude_death_rate_deaths_per_1000_population,life_expectancy_at_birth_both_sexes_years,live_births_surviving_to_age_1_thousands,net_number_of_migrants_thousands,net_migration_rate_per_1000_population
0,Afghanistan,1990,0.342503,NaN,0.971125,NaN,0.209727,3.939093,2.50405,15.180,...,29.880,105.5,203.514,110.102,93.412,18.449,45.9672,519.005,-666.001,-60.375
1,Afghanistan,1991,0.371860,NaN,1.019356,NaN,0.182525,4.171640,2.80655,15.214,...,29.812,105.6,192.531,104.274,88.257,17.946,46.6631,509.662,39.926,3.721
2,Afghanistan,1992,0.401218,NaN,1.067586,NaN,0.095233,4.417915,3.10905,15.223,...,29.885,105.6,191.913,104.633,87.280,17.222,47.5955,532.989,1834.556,164.629
3,Afghanistan,1993,0.430575,NaN,1.115817,NaN,0.084285,4.678730,3.41155,15.197,...,29.948,105.6,199.165,104.343,94.822,14.838,51.4664,646.635,1171.818,87.304
4,Afghanistan,1994,0.459933,NaN,1.164047,NaN,0.075054,4.954942,3.71405,15.178,...,29.789,105.7,222.214,119.122,103.092,14.689,51.4945,732.684,665.410,43.986

In [6]:
df_new.isnull().sum().to_csv('desc_groupby_country.csv')

In [7]:
label_encoder_df = LabelEncoder()

df_new["country_id"] = label_encoder_df.fit_transform(df_new["country"])
df_new = df_new.set_index("country", append=True)

y_col = ["life_expectancy_at_birth_both_sexes_years"]
x_col =[col for col in df_new.columns.to_list() if col not in y_col]

print(x_col)

['year', 'mean_years_of_schooling_female', 'share_of_male_seats_in_parliament', 'mean_years_of_schooling', 'income_inequality', 'co2_emissions_per_capita_tonnes', 'expected_years_of_schooling_male', 'expected_years_of_schooling', 'female_labour_force_participation_rate', 'female_population_with_some_secondary_education', 'expected_years_of_schooling_female', 'adolescent_birth_rate_per_1000_women_ages_15_19', 'material_footprint_per_capita_tonnes', 'mean_years_of_schooling_male', 'male_population_with_some_secondary_education', 'share_of_female_seats_in_parliament', 'education_inequality', 'gender_development_index', 'coefficient_of_human_inequality', 'male_labour_force_participation_rate', 'human_development_index', 'gross_national_income_per_capita_2017_ppp', 'total_population_as_of_january_1st_thousands', 'total_population_as_of_july_1st_thousands', 'male_population_as_of_july_1st_thousands', 'female_population_as_of_july_1st_thousands', 'population_density_as_of_july_1st_persons_per_square_km', 'population_sex_ratio_as_of_july_1st_males_per_100_females', 'median_age_as_of_july_1st_years', 'natural_change_births_minus_deaths_thousands', 'rate_of_natural_change_per_1000_population', 'population_change_thousands', 'population_growth_rate_percentage', 'population_annual_doubling_time_years', 'births_thousands', 'births_by_women_aged_15_to_19_thousands', 'crude_birth_rate_births_per_1000_population', 'total_fertility_rate_live_births_per_woman', 'net_reproduction_rate_surviving_daughters_per_woman', 'mean_age_of_childbearing_years', 'sex_ratio_at_birth_males_per_100_female_births', 'total_deaths_thousands', 'male_deaths_thousands', 'female_deaths_thousands', 'crude_death_rate_deaths_per_1000_population', 'live_births_surviving_to_age_1_thousands', 'net_number_of_migrants_thousands', 'net_migration_rate_per_1000_population', 'country_id']

In [8]:
# Train-Test split
X_train, X_test, y_train, y_test = train_test_split(df_new[x_col], df_new[y_col], test_size=0.2, random_state=42, stratify=df_new['country_id'])

In [9]:
def estimate_missing_values_grouped(df_group):
    # Calculate growth rates
    df_group['growth_rate'] = df_group['expected_years_of_schooling'].pct_change()

    # Calculate average growth rate
    # df_group['growth_rate'] = pd.to_numeric(df_group['growth_rate'], errors='coerce')
    avg_growth_rate = df_group['growth_rate'].mean()
    
    # Fill missing values using the average growth rate
    for i in range(1, len(df_group), -1):
        if pd.isna(df_group.at[df_group.index[i], 'expected_years_of_schooling']):
            df_group.at[df_group.index[i], 'expected_years_of_schooling'] = df_group.at[df_group.index[i+1], 'expected_years_of_schooling'] / (1 + avg_growth_rate)
    
    
    # Drop Growth Rate column
    df_group = df_group.drop(columns=['growth_rate'])
    
    return df_group

In [26]:
def estimate_missing_values_grouped(df_group):
    # Calculate growth rates based on existing values
    df_group.sort_values('year', axis=0, inplace=True)
    df_group['growth_rate'] = df_group['expected_years_of_schooling'].pct_change()
    
    # Replace NaN growth rates with 0
    df_group['growth_rate'].fillna(0, inplace=True)
    
    # Calculate average growth rate
    avg_growth_rate = df_group.loc[df_group['growth_rate'] != 0, 'growth_rate'].mean()
    
    # Fill missing values using the average growth rate
    for i in range(len(df_group)-2, -1, -1):
        if pd.isna(df_group.at[df_group.index[i], 'expected_years_of_schooling']):
            df_group.at[df_group.index[i], 'expected_years_of_schooling'] = df_group.at[df_group.index[i+1], 'expected_years_of_schooling'] / (1 + avg_growth_rate)
    
    # Drop Growth Rate column
    df_group.drop(columns=['growth_rate'], inplace=True)
    
    return df_group

In [27]:
X_train_filled_avg = X_train.groupby('country_id').apply(estimate_missing_values_grouped)

/var/folders/w4/480s5y550tj_ptr0wg8vn_6m0000gn/T/ipykernel_79832/1123955120.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_group['growth_rate'] = df_group['expected_years_of_schooling'].pct_change()
/var/folders/w4/480s5y550tj_ptr0wg8vn_6m0000gn/T/ipykernel_79832/1123955120.py:4: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  df_group['growth_rate'] = df_group['expected_years_of_schooling'].pct_change()

In [28]:
X_train_filled_avg.to_csv('xtrain_avg.csv')

In [30]:
def fill_missing(group):
    if group.isnull().any():
        filled_fw = group.ffill()
        filled_bw = group.bfill()
        mean_values = (filled_fw + filled_bw) / 2
        print(mean_values)
        group_filled = group.fillna(mean_values)
        return group_filled
    else:
        return group

X_train_filled = X_train.groupby('country')['expected_years_of_schooling'].apply(fill_missing)

# Combine results into one DataFrame if not empty
X_train_filled = X_train_filled.reset_index(level=0, drop=True)
X_train_filled = pd.concat([X_train_filled], axis=1)

# Fill remaining missing values
X_train_filled['expected_years_of_schooling'] = X_train_filled['expected_years_of_schooling'].fillna(X_train_filled['expected_years_of_schooling'].mean())

# Save null counts per group to CSV
X_train_filled.isnull().sum().to_csv('desc_groupby_country_filled.csv')

X_train_filled.to_csv('xtrainfilled.csv')

     country
252  Antigua and Barbuda    14.278853
253  Antigua and Barbuda    14.184626
236  Antigua and Barbuda    14.773123
241  Antigua and Barbuda    15.361620
228  Antigua and Barbuda    15.011839
225  Antigua and Barbuda    15.011839
235  Antigua and Barbuda    15.011839
238  Antigua and Barbuda    15.011839
237  Antigua and Barbuda    15.011839
233  Antigua and Barbuda    15.011839
240  Antigua and Barbuda    15.011839
234  Antigua and Barbuda    15.011839
248  Antigua and Barbuda    14.662058
250  Antigua and Barbuda    14.469187
245  Antigua and Barbuda    14.693110
247  Antigua and Barbuda    14.759455
242  Antigua and Barbuda    15.198230
232  Antigua and Barbuda    15.027865
231  Antigua and Barbuda    15.027865
229  Antigua and Barbuda    15.027865
246  Antigua and Barbuda    14.857500
255  Antigua and Barbuda    14.184626
239  Antigua and Barbuda    14.374965
249  Antigua and Barbuda    14.565303
230  Antigua and Barbuda          NaN
227  Antigua and Barbuda          NaN
Name: Antigua and Barbuda, dtype: float64
     country
597  Bahamas    12.526558
585  Bahamas    11.999597
581  Bahamas    11.720900
583  Bahamas    11.857268
599  Bahamas    12.644987
596  Bahamas    12.467343
591  Bahamas    12.426582
576  Bahamas    12.248671
586  Bahamas    12.070761
582  Bahamas    11.786104
595  Bahamas    12.408129
590  Bahamas    12.355417
600  Bahamas    12.704201
604  Bahamas    12.822630
603  Bahamas    12.822630
578  Bahamas    12.861040
605  Bahamas    12.899450
602  Bahamas    12.822630
598  Bahamas    12.585772
607  Bahamas    12.899450
584  Bahamas    11.928432
601  Bahamas    12.763416
588  Bahamas    12.213089
580  Bahamas    12.355417
592  Bahamas    12.497746
579  Bahamas          NaN
Name: Bahamas, dtype: float64
     country
628  Bosnia and Herzegovina    13.400000
612  Bosnia and Herzegovina    13.749033
631  Bosnia and Herzegovina    14.098067
621  Bosnia and Herzegovina    12.276000
625  Bosnia and Herzegovina    13.100000
627  Bosnia and Herzegovina    13.300000
634  Bosnia and Herzegovina    13.865227
613  Bosnia and Herzegovina    13.867543
629  Bosnia and Herzegovina    13.869860
633  Bosnia and Herzegovina    13.942840
611  Bosnia and Herzegovina    12.791420
618  Bosnia and Herzegovina    11.640000
639  Bosnia and Herzegovina    13.800000
623  Bosnia and Herzegovina    12.700000
608  Bosnia and Herzegovina    12.382000
620  Bosnia and Herzegovina    12.064000
638  Bosnia and Herzegovina    13.800000
615  Bosnia and Herzegovina    12.826000
616  Bosnia and Herzegovina    12.826000
609  Bosnia and Herzegovina    12.826000
610  Bosnia and Herzegovina    12.826000
614  Bosnia and Herzegovina    12.826000
619  Bosnia and Herzegovina    11.852000
632  Bosnia and Herzegovina    14.020453
636  Bosnia and Herzegovina    13.787613
Name: Bosnia and Herzegovina, dtype: float64
      country
1277  Cabo Verde    12.554614
1257  Cabo Verde    12.800982
1253  Cabo Verde    12.800982
1274  Cabo Verde    13.047350
1273  Cabo Verde    13.143070
1263  Cabo Verde    11.570980
1254  Cabo Verde    12.062797
1279  Cabo Verde    12.554614
1255  Cabo Verde    12.754357
1249  Cabo Verde    12.754357
1275  Cabo Verde    12.954100
1250  Cabo Verde    13.177135
1272  Cabo Verde    13.400170
1264  Cabo Verde    12.321390
1260  Cabo Verde    11.594320
1276  Cabo Verde    12.704200
1256  Cabo Verde    12.869875
1270  Cabo Verde    13.035550
1267  Cabo Verde    12.606370
1248  Cabo Verde    12.580492
1251  Cabo Verde    12.580492
1278  Cabo Verde    12.554614
1266  Cabo Verde    12.571430
1269  Cabo Verde    13.018340
1252  Cabo Verde    12.215980
1262  Cabo Verde    11.413620
Name: Cabo Verde, dtype: float64
      country
1477  Dominica          NaN
1492  Dominica    13.055640
1501  Dominica    13.319186
1489  Dominica    12.947520
1485  Dominica    12.819176
1493  Dominica    13.066780
1484  Dominica    12.788555
1497  Dominica    13.192379
1503  Dominica    13.319186
1487  Dominica    12.880638
1482  Dominica    12.727532
1490  Dominica    12.983560
1498  Dominica    13.223968
1491  Dominica    13.019600
1495  Dominica    13.129430
1476  Dominica    13.208400
1474  Dominica    13.208400
1500  Dominica    13.287371
1475  Dominica    13.099425
1488  Dominica    12.911480
1472  Dominica    13.083556
1478  Dominica    13.083556
1499  Dominica    13.255631
1502  Dominica    13.319186
1494  Dominica    13.098067
Name: Dominica, dtype: float64
      country
2153  Equatorial Guinea         NaN
2168  Equatorial Guinea    9.035627
2172  Equatorial Guinea    9.595077
2164  Equatorial Guinea    8.476176
2171  Equatorial Guinea    9.455215
2155  Equatorial Guinea    7.217413
2174  Equatorial Guinea    9.734940
2156  Equatorial Guinea    7.357275
2146  Equatorial Guinea    7.637000
2160  Equatorial Guinea    7.916726
2173  Equatorial Guinea    9.734940
2169  Equatorial Guinea    9.175489
2166  Equatorial Guinea    8.755902
2175  Equatorial Guinea    9.734940
2150  Equatorial Guinea    8.616039
2157  Equatorial Guinea    7.497138
2151  Equatorial Guinea    7.776863
2144  Equatorial Guinea    7.776863
2147  Equatorial Guinea    7.776863
2161  Equatorial Guinea    8.056588
2145  Equatorial Guinea    7.567069
2154  Equatorial Guinea    7.077550
2152  Equatorial Guinea    7.986657
2167  Equatorial Guinea    8.895764
2165  Equatorial Guinea    8.616039
Name: Equatorial Guinea, dtype: float64
      country
1678  Eritrea    8.076520
1664  Eritrea    8.070522
1694  Eritrea    8.064525
1673  Eritrea    5.882840
1683  Eritrea    8.150310
1693  Eritrea    8.064525
1695  Eritrea    8.064525
1679  Eritrea    8.091278
1674  Eritrea    6.498770
1671  Eritrea    5.449133
1672  Eritrea    5.665987
1665  Eritrea    6.319938
1676  Eritrea    6.973890
1681  Eritrea    8.120794
1669  Eritrea    5.223760
1685  Eritrea    8.203968
1668  Eritrea    8.169760
1667  Eritrea    8.169760
1682  Eritrea    8.135552
1690  Eritrea    8.042153
1686  Eritrea    8.377085
1680  Eritrea    8.106036
1677  Eritrea    7.525205
1688  Eritrea    8.723320
1691  Eritrea    8.049603
Name: Eritrea, dtype: float64
      country
3150  Liberia    10.164822
3143  Liberia    10.145065
3162  Liberia    10.125308
3155  Liberia     9.766126
3137  Liberia     9.809647
3140  Liberia     9.809647
3152  Liberia     9.853168
3166  Liberia    10.420790
3167  Liberia    10.420790
3156  Liberia     9.800519
3153  Liberia     9.697341
3164  Liberia    10.273049
3151  Liberia     9.853168
3159  Liberia     9.903696
3161  Liberia    10.051437
3145  Liberia     8.889520
3146  Liberia    10.788130
3138  Liberia    10.328717
3158  Liberia     9.869303
3147  Liberia    10.632303
3160  Liberia     9.977567
3148  Liberia    10.476476
3142  Liberia    10.337827
3163  Liberia    10.199178
3144  Liberia          NaN
3136  Liberia          NaN
Name: Liberia, dtype: float64
      country
3236  Liechtenstein          NaN
3263  Liechtenstein    15.181570
3258  Liechtenstein    14.720930
3244  Liechtenstein    14.127257
3237  Liechtenstein    14.576399
3234  Liechtenstein    14.576399
3254  Liechtenstein    15.025540
3247  Liechtenstein    14.298560
3252  Liechtenstein    14.515690
3259  Liechtenstein    14.883910
3245  Liechtenstein    14.213920
3262  Liechtenstein    15.181570
3239  Liechtenstein    15.005948
3235  Liechtenstein    15.005948
3255  Liechtenstein    14.830325
3251  Liechtenstein    14.485350
3242  Liechtenstein    13.955514
3243  Liechtenstein    14.041123
3253  Liechtenstein    14.840860
3241  Liechtenstein    14.730865
3260  Liechtenstein    14.620870
3238  Liechtenstein    14.901220
3261  Liechtenstein    15.181570
3232  Liechtenstein    14.908340
3256  Liechtenstein    14.635110
3248  Liechtenstein    14.465550
Name: Liechtenstein, dtype: float64
      country
3565  Maldives    12.163910
3576  Maldives    12.488203
3553  Maldives    12.092947
3555  Maldives    12.092947
3564  Maldives    11.697690
3552  Maldives    12.063466
3574  Maldives    12.429241
3582  Maldives    12.635610
3572  Maldives    12.370279
3571  Maldives    12.340797
3567  Maldives    12.222872
3583  Maldives    12.635610
3575  Maldives    12.458722
3569  Maldives    12.281835
3573  Maldives    12.399760
3556  Maldives    11.880055
3554  Maldives    11.880055
3561  Maldives    11.360350
3560  Maldives    10.600840
3566  Maldives    12.193391
3568  Maldives    12.252354
3558  Maldives    10.023781
3579  Maldives    12.576647
3580  Maldives    12.606128
3562  Maldives    11.821790
3581  Maldives    12.635610
Name: Maldives, dtype: float64
      country
3634  Marshall Islands    11.486791
3643  Marshall Islands    10.466133
3618  Marshall Islands    10.863055
3636  Marshall Islands    11.259978
3632  Marshall Islands    11.713604
3639  Marshall Islands    10.919759
3641  Marshall Islands    10.692946
3620  Marshall Islands    10.466133
3646  Marshall Islands    10.239320
3635  Marshall Islands    11.373384
3637  Marshall Islands    11.146572
3627  Marshall Islands    10.863055
3619  Marshall Islands    10.863055
3642  Marshall Islands    10.579539
3631  Marshall Islands    11.827010
3626  Marshall Islands    11.316681
3640  Marshall Islands    10.806352
3630  Marshall Islands    11.940417
3628  Marshall Islands    12.167230
3629  Marshall Islands    12.053823
3623  Marshall Islands    11.543494
3616  Marshall Islands    11.543494
3638  Marshall Islands    11.033165
3621  Marshall Islands    11.316681
3633  Marshall Islands    11.600197
Name: Marshall Islands, dtype: float64
      country
1897  Micronesia          NaN
1892  Micronesia          NaN
1894  Micronesia          NaN
1890  Micronesia          NaN
1909  Micronesia    11.208263
1918  Micronesia    11.549480
1889  Micronesia    11.380778
1910  Micronesia    11.212077
1913  Micronesia    11.084000
1912  Micronesia    11.192296
1906  Micronesia    11.355704
1901  Micronesia    10.542239
1893  Micronesia    10.704932
1903  Micronesia    10.867625
1899  Micronesia    10.216853
1895  Micronesia    10.135506
1898  Micronesia    10.054160
1917  Micronesia    11.549480
1915  Micronesia    11.419014
1908  Micronesia    11.172674
1919  Micronesia    11.549480
1911  Micronesia    11.176170
1896  Micronesia    11.184590
1888  Micronesia    11.184590
1891  Micronesia    11.184590
1905  Micronesia    11.193011
Name: Micronesia, dtype: float64
      country
3487  Monaco    NaN
3464  Monaco    NaN
3460  Monaco    NaN
3484  Monaco    NaN
3471  Monaco    NaN
3475  Monaco    NaN
3479  Monaco    NaN
3456  Monaco    NaN
3461  Monaco    NaN
3473  Monaco    NaN
3458  Monaco    NaN
3468  Monaco    NaN
3486  Monaco    NaN
3470  Monaco    NaN
3481  Monaco    NaN
3462  Monaco    NaN
3480  Monaco    NaN
3472  Monaco    NaN
3467  Monaco    NaN
3483  Monaco    NaN
3485  Monaco    NaN
3465  Monaco    NaN
3466  Monaco    NaN
3463  Monaco    NaN
3469  Monaco    NaN
3478  Monaco    NaN
Name: Monaco, dtype: float64
      country
3787  Montenegro    11.890174
3791  Montenegro    13.187160
3784  Montenegro    14.134385
3777  Montenegro    14.134385
3807  Montenegro    15.081610
3806  Montenegro    15.081610
3801  Montenegro    14.926403
3782  Montenegro    14.281806
3792  Montenegro    13.637210
3797  Montenegro    15.043056
3783  Montenegro    13.823388
3785  Montenegro    13.823388
3789  Montenegro    12.603720
3798  Montenegro    15.013893
3776  Montenegro    14.979547
3805  Montenegro    14.945200
3796  Montenegro    15.072220
3799  Montenegro    14.984730
3779  Montenegro    14.949145
3795  Montenegro    14.913560
3803  Montenegro    15.021320
3804  Montenegro    14.999680
3794  Montenegro    14.579370
3793  Montenegro    14.115640
3786  Montenegro    11.548696
3800  Montenegro    14.955566
Name: Montenegro, dtype: float64
      country
4229  Nauru            NaN
4253  Nauru      11.690420
4243  Nauru       9.742472
4247  Nauru      10.479331
4249  Nauru      10.868403
4237  Nauru       8.975170
4241  Nauru       9.002280
4224  Nauru      10.346350
4254  Nauru      11.690420
4244  Nauru       9.921681
4255  Nauru      11.690420
4230  Nauru      10.990235
4246  Nauru      10.290049
4238  Nauru       9.075570
4251  Nauru      11.271921
4248  Nauru      10.672094
4236  Nauru       9.312490
4228  Nauru       9.708338
4245  Nauru      10.104186
4240  Nauru      10.133700
4252  Nauru      11.479264
4233  Nauru      11.170047
4231  Nauru      11.170047
4226  Nauru      11.170047
4239  Nauru      10.860830
Name: Nauru, dtype: float64
      country
4563  North Korea          NaN
4550  North Korea          NaN
4562  North Korea          NaN
4568  North Korea          NaN
4566  North Korea          NaN
4572  North Korea    10.783170
4573  North Korea    10.783170
4548  North Korea    10.780408
4560  North Korea    10.780408
4556  North Korea    10.780408
4561  North Korea    10.780408
4546  North Korea    10.780408
4544  North Korea    10.780408
4564  North Korea    10.780408
4557  North Korea    10.780408
4559  North Korea    10.780408
4553  North Korea    10.780408
4570  North Korea    10.777645
4552  North Korea    10.780408
4565  North Korea    10.780408
4574  North Korea    10.783170
4569  North Korea    10.746180
4545  North Korea          NaN
4555  North Korea          NaN
4567  North Korea          NaN
4549  North Korea          NaN
Name: North Korea, dtype: float64
      country
4471  Palau      16.590111
4474  Palau      16.244772
4456  Palau      16.320963
4450  Palau      16.320963
4470  Palau      16.397155
4476  Palau      16.014546
4455  Palau      15.530504
4463  Palau      15.046461
4469  Palau      16.204198
4468  Palau      16.011242
4457  Palau      16.070451
4475  Palau      16.129659
4454  Palau      16.302328
4449  Palau      16.302328
4453  Palau      16.302328
4472  Palau      16.474998
4459  Palau      14.274636
4467  Palau      15.818286
4461  Palau      14.660549
4462  Palau      14.853505
4464  Palau      15.239417
4458  Palau      14.081680
4466  Palau      15.625330
4460  Palau      14.467593
4452  Palau      15.125956
4478  Palau      15.784320
Name: Palau, dtype: float64
      country
4993  San Marino         NaN
5004  San Marino         NaN
5021  San Marino    11.96094
5018  San Marino    12.11354
5017  San Marino    12.11354
4995  San Marino    12.11354
5006  San Marino    12.11354
5011  San Marino    12.11354
5013  San Marino    12.11354
5023  San Marino    12.26614
5014  San Marino    12.26614
5002  San Marino    12.26614
5019  San Marino    12.26614
4994  San Marino    12.26614
4999  San Marino    12.26614
5009  San Marino    12.26614
5022  San Marino    12.26614
5003  San Marino         NaN
5001  San Marino         NaN
4992  San Marino         NaN
5005  San Marino         NaN
5010  San Marino         NaN
5000  San Marino         NaN
5016  San Marino         NaN
5015  San Marino         NaN
4998  San Marino         NaN
Name: San Marino, dtype: float64
      country
5028  Somalia   NaN
5033  Somalia   NaN
5035  Somalia   NaN
5044  Somalia   NaN
5036  Somalia   NaN
5055  Somalia   NaN
5046  Somalia   NaN
5041  Somalia   NaN
5031  Somalia   NaN
5053  Somalia   NaN
5026  Somalia   NaN
5051  Somalia   NaN
5032  Somalia   NaN
5042  Somalia   NaN
5040  Somalia   NaN
5025  Somalia   NaN
5024  Somalia   NaN
5038  Somalia   NaN
5034  Somalia   NaN
5054  Somalia   NaN
5049  Somalia   NaN
5027  Somalia   NaN
5047  Somalia   NaN
5048  Somalia   NaN
5037  Somalia   NaN
5030  Somalia   NaN
Name: Somalia, dtype: float64
      country
5117  South Sudan    5.542510
5114  South Sudan    5.542510
5099  South Sudan    5.542510
5091  South Sudan    5.542510
5090  South Sudan    5.542510
5088  South Sudan    5.542510
5098  South Sudan    5.542510
5113  South Sudan    5.542510
5096  South Sudan    5.408332
5089  South Sudan    5.408332
5106  South Sudan    5.408332
5094  South Sudan    5.408332
5111  South Sudan    5.274154
5100  South Sudan    5.408332
5103  South Sudan    5.408332
5118  South Sudan    5.542510
5097  South Sudan    5.207065
5093  South Sudan    5.207065
5095  South Sudan    5.207065
5108  South Sudan    4.871620
5112  South Sudan    5.408332
5092  South Sudan    5.274154
5107  South Sudan    5.274154
5110  South Sudan    5.139976
5109  South Sudan    5.005798
Name: South Sudan, dtype: float64
      country
5566  Timor-Leste    12.616098
5538  Timor-Leste    12.507159
5564  Timor-Leste    12.398220
5558  Timor-Leste    12.937900
5552  Timor-Leste    11.481706
5551  Timor-Leste    11.117334
5546  Timor-Leste    11.782107
5556  Timor-Leste    12.446880
5560  Timor-Leste    12.517450
5555  Timor-Leste    12.574820
5557  Timor-Leste    13.002760
5562  Timor-Leste    12.398220
5567  Timor-Leste    12.616098
5549  Timor-Leste    10.388592
5548  Timor-Leste    10.024220
5539  Timor-Leste    11.257555
5544  Timor-Leste    11.257555
5543  Timor-Leste    11.257555
5542  Timor-Leste    11.257555
5536  Timor-Leste    11.257555
5545  Timor-Leste    11.257555
5561  Timor-Leste    12.490890
5550  Timor-Leste    10.752963
5540  Timor-Leste    11.299520
5553  Timor-Leste    11.846077
5547  Timor-Leste          NaN
Name: Timor-Leste, dtype: float64
      country
5507  Turkmenistan          NaN
5509  Turkmenistan          NaN
5522  Turkmenistan    10.196855
5528  Turkmenistan    12.062526
5521  Turkmenistan     9.885910
5533  Turkmenistan    12.932780
5515  Turkmenistan    12.186708
5526  Turkmenistan    11.440636
5535  Turkmenistan    13.210400
5511  Turkmenistan    13.030196
5532  Turkmenistan    12.849992
5508  Turkmenistan    11.678896
5523  Turkmenistan    10.507800
5512  Turkmenistan    10.041383
5517  Turkmenistan    10.041383
5506  Turkmenistan    10.041383
5520  Turkmenistan     9.574965
5525  Turkmenistan    11.129691
5531  Turkmenistan    12.767204
5516  Turkmenistan    12.725811
5504  Turkmenistan    12.725811
5530  Turkmenistan    12.684417
5519  Turkmenistan     9.291111
5514  Turkmenistan          NaN
5513  Turkmenistan          NaN
Name: Turkmenistan, dtype: float64
      country
6031  Vanuatu    10.664701
6026  Vanuatu    10.086580
6018  Vanuatu    10.383130
6029  Vanuatu    10.679680
6036  Vanuatu    10.973405
6022  Vanuatu    11.066017
6039  Vanuatu    11.158628
6019  Vanuatu    10.758604
6017  Vanuatu    10.758604
6028  Vanuatu    10.358580
6045  Vanuatu    11.535315
6046  Vanuatu    11.535315
6016  Vanuatu    11.161749
6033  Vanuatu    10.788182
6044  Vanuatu    11.471486
6041  Vanuatu    11.282110
6034  Vanuatu    10.849923
6037  Vanuatu    11.035146
6023  Vanuatu    10.337378
6025  Vanuatu     9.639610
6032  Vanuatu    10.726442
6027  Vanuatu    10.199870
6030  Vanuatu    10.602960
6024  Vanuatu          NaN
6021  Vanuatu          NaN
Name: Vanuatu, dtype: float64

In [13]:
X_train_filled_2 = X_train[X_train['country_id'].isin([113, 53])].groupby('country')['expected_years_of_schooling'].apply(fill_missing)

      country
2153  Equatorial Guinea         NaN
2168  Equatorial Guinea    9.035627
2172  Equatorial Guinea    9.595077
2164  Equatorial Guinea    8.476176
2171  Equatorial Guinea    9.455215
2155  Equatorial Guinea    7.217413
2174  Equatorial Guinea    9.734940
2156  Equatorial Guinea    7.357275
2146  Equatorial Guinea    7.637000
2160  Equatorial Guinea    7.916726
2173  Equatorial Guinea    9.734940
2169  Equatorial Guinea    9.175489
2166  Equatorial Guinea    8.755902
2175  Equatorial Guinea    9.734940
2150  Equatorial Guinea    8.616039
2157  Equatorial Guinea    7.497138
2151  Equatorial Guinea    7.776863
2144  Equatorial Guinea    7.776863
2147  Equatorial Guinea    7.776863
2161  Equatorial Guinea    8.056588
2145  Equatorial Guinea    7.567069
2154  Equatorial Guinea    7.077550
2152  Equatorial Guinea    7.986657
2167  Equatorial Guinea    8.895764
2165  Equatorial Guinea    8.616039
Name: Equatorial Guinea, dtype: float64
      country
3487  Monaco    NaN
3464  Monaco    NaN
3460  Monaco    NaN
3484  Monaco    NaN
3471  Monaco    NaN
3475  Monaco    NaN
3479  Monaco    NaN
3456  Monaco    NaN
3461  Monaco    NaN
3473  Monaco    NaN
3458  Monaco    NaN
3468  Monaco    NaN
3486  Monaco    NaN
3470  Monaco    NaN
3481  Monaco    NaN
3462  Monaco    NaN
3480  Monaco    NaN
3472  Monaco    NaN
3467  Monaco    NaN
3483  Monaco    NaN
3485  Monaco    NaN
3465  Monaco    NaN
3466  Monaco    NaN
3463  Monaco    NaN
3469  Monaco    NaN
3478  Monaco    NaN
Name: Monaco, dtype: float64

In [14]:
X_train[X_train['country_id'].isin([53])]

,,year,mean_years_of_schooling_female,share_of_male_seats_in_parliament,mean_years_of_schooling,income_inequality,co2_emissions_per_capita_tonnes,expected_years_of_schooling_male,expected_years_of_schooling,female_labour_force_participation_rate,female_population_with_some_secondary_education,...,mean_age_of_childbearing_years,sex_ratio_at_birth_males_per_100_female_births,total_deaths_thousands,male_deaths_thousands,female_deaths_thousands,crude_death_rate_deaths_per_1000_population,live_births_surviving_to_age_1_thousands,net_number_of_migrants_thousands,net_migration_rate_per_1000_population,country_id
,country,,,,,,,,,,,,,,,,,,,,,
2153,Equatorial Guinea,1999,NaN,95.000000,NaN,NaN,0.699074,NaN,NaN,49.868,NaN,...,28.886,103.2,9.188,4.875,4.313,14.108,25.129,7.844,12.045,53
2168,Equatorial Guinea,2014,4.009800,81.714286,5.515573,NaN,9.960910,NaN,9.035627,50.887,NaN,...,28.283,103.2,12.818,6.828,5.990,9.965,43.989,18.051,14.033,53
2172,Equatorial Guinea,2018,3.939100,81.976744,5.550891,NaN,8.565328,NaN,9.595077,51.169,NaN,...,28.143,103.1,13.226,7.220,6.005,8.850,46.516,15.583,10.428,53
2164,Equatorial Guinea,2010,3.975800,90.000000,5.468832,NaN,7.210384,NaN,8.476176,50.582,NaN,...,28.412,103.2,12.144,6.316,5.828,11.214,39.548,22.033,20.345,53
2171,Equatorial Guinea,2017,4.018400,80.346821,5.550891,NaN,9.734850,NaN,9.455215,51.085,NaN,...,28.190,103.2,13.121,7.171,5.950,9.096,46.006,16.395,11.365,53
2155,Equatorial Guinea,2001,NaN,95.000000,5.364000,NaN,4.692670,NaN,7.217413,50.052,NaN,...,28.796,103.2,9.512,5.052,4.460,13.363,26.861,15.084,21.192,53
2174,Equatorial Guinea,2020,4.194548,80.813953,5.910863,NaN,7.316757,NaN,9.734940,49.414,NaN,...,28.081,103.2,14.407,8.080,6.327,9.026,47.511,0.000,0.000,53
2156,Equatorial Guinea,2002,NaN,95.000000,5.375648,NaN,11.820305,NaN,7.357275,50.138,NaN,...,28.741,103.2,9.701,5.150,4.551,12.989,27.949,14.757,19.759,53
2146,Equatorial Guinea,1992,NaN,91.250000,NaN,NaN,0.147456,NaN,NaN,49.397,NaN,...,28.806,103.2,7.929,4.151,3.778,15.873,20.716,3.865,7.738,53
2160,Equatorial Guinea,2006,NaN,82.000000,5.422240,NaN,9.060849,NaN,7.916726,50.328,NaN,...,28.566,103.2,10.663,5.618,5.045,11.887,33.502,16.885,18.822,53
2173,Equatorial Guinea,2019,4.194548,80.813953,5.910863,NaN,7.573677,NaN,9.734940,51.251,NaN,...,28.101,103.1,13.265,7.295,5.971,8.582,46.996,14.695,9.507,53
2169,Equatorial Guinea,2015,4.009800,80.346821,5.527321,NaN,9.271519,NaN,9.175489,50.978,NaN,...,28.258,103.2,12.868,6.928,5.940,9.616,44.776,17.694,13.222,53
2166,Equatorial Guinea,2012,3.992800,90.000000,5.492153,NaN,8.897188,NaN,8.755902,50.713,NaN,...,28.349,103.2,12.509,6.547,5.962,10.557,42.013,17.859,15.072,53
2175,Equatorial Guinea,2021,4.194548,79.651163,5.910863,NaN,7.316757,NaN,9.734940,49.926,NaN,...,28.061,103.2,14.750,8.249,6.501,9.042,47.550,6.486,3.976,53
2150,Equatorial Guinea,1996,NaN,91.250000,NaN,NaN,0.248598,NaN,NaN,49.437,NaN,...,28.894,103.2,8.721,4.587,4.134,15.044,23.105,6.001,10.352,53
2157,Equatorial Guinea,2003,NaN,95.000000,5.387296,NaN,11.595045,NaN,7.497138,50.203,NaN,...,28.695,103.2,9.889,5.236,4.653,12.636,29.173,14.544,18.584,53
2151,Equatorial Guinea,1997,NaN,91.250000,NaN,NaN,0.566883,NaN,NaN,49.576,NaN,...,28.896,103.2,8.873,4.678,4.195,14.731,23.738,6.690,11.107,53
2144,Equatorial Guinea,1990,NaN,91.250000,NaN,NaN,0.148592,NaN,NaN,49.498,NaN,...,28.742,103.2,7.536,3.939,3.597,16.246,19.565,3.506,7.558,53
2147,Equatorial Guinea,1993,NaN,91.250000,NaN,NaN,0.150477,NaN,NaN,49.333,NaN,...,28.843,103.2,8.109,4.243,3.866,15.648,21.318,4.175,8.056,53
2161,Equatorial Guinea,2007,NaN,82.000000,5.433888,NaN,6.795653,NaN,8.056588,50.406,NaN,...,28.519,103.2,10.998,5.783,5.215,11.706,35.067,18.437,19.624,53
2145,Equatorial Guinea,1991,NaN,91.250000,NaN,NaN,0.152366,NaN,NaN,49.463,NaN,...,28.770,103.2,7.738,4.044,3.693,16.072,20.137,3.636,7.553,53
2154,Equatorial Guinea,2000,NaN,95.000000,5.364000,NaN,1.015456,NaN,7.077550,49.974,NaN,...,28.844,103.2,9.307,4.959,4.347,13.738,25.903,15.352,22.662,53
2152,Equatorial Guinea,1998,NaN,91.250000,NaN,NaN,0.472361,NaN,NaN,49.732,NaN,...,28.886,103.2,9.037,4.768,4.270,14.432,24.417,7.300,11.658,53
2167,Equatorial Guinea,2013,4.001300,89.714286,5.503850,NaN,10.756280,NaN,8.895764,50.803,NaN,...,28.300,103.2,12.672,6.676,5.996,10.260,43.073,18.105,14.659,53
2165,Equatorial Guinea,2011,3.984300,90.000000,5.480480,NaN,9.590182,NaN,8.616039,50.626,NaN,...,28.378,103.2,12.464,6.465,5.999,10.979,40.855,17.606,15.509,53

In [15]:
corrs = {x: df_new[x].corr(df_new[y_col[0]], method='pearson') for x in x_col}
corrs_df = pd.DataFrame.from_dict(corrs, orient='index', columns=['Correlation'])
corrs_df = corrs_df.sort_values(by='Correlation', ascending=False)

corrs_df

                                                    Correlation
human_development_index                                0.918730
expected_years_of_schooling_female                     0.820617
expected_years_of_schooling                            0.806646
expected_years_of_schooling_male                       0.789946
median_age_as_of_july_1st_years                        0.789246
mean_years_of_schooling_female                         0.747716
mean_years_of_schooling                                0.737860
mean_years_of_schooling_male                           0.725305
female_population_with_some_secondary_education        0.689039
male_population_with_some_secondary_education          0.652450
gross_national_income_per_capita_2017_ppp              0.649458
gender_development_index                               0.604138
material_footprint_per_capita_tonnes                   0.586827
co2_emissions_per_capita_tonnes                        0.461837
population_annual_doubling_time_years                  0.430937
sex_ratio_at_birth_males_per_100_female_births         0.365747
share_of_female_seats_in_parliament                    0.298763
year                                                   0.269075
population_density_as_of_july_1st_persons_per_s...     0.173474
net_migration_rate_per_1000_population                 0.150380
net_number_of_migrants_thousands                       0.145499
population_sex_ratio_as_of_july_1st_males_per_1...     0.105850
female_population_as_of_july_1st_thousands             0.028848
total_population_as_of_january_1st_thousands           0.028324
total_population_as_of_july_1st_thousands              0.027686
male_population_as_of_july_1st_thousands               0.026575
mean_age_of_childbearing_years                        -0.004852
country_id                                            -0.010956
male_deaths_thousands                                 -0.012718
total_deaths_thousands                                -0.014565
female_deaths_thousands                               -0.016734
live_births_surviving_to_age_1_thousands              -0.064226
births_thousands                                      -0.069220
population_change_thousands                           -0.084214
natural_change_births_minus_deaths_thousands          -0.100128
births_by_women_aged_15_to_19_thousands               -0.137942
male_labour_force_participation_rate                  -0.168271
population_growth_rate_percentage                     -0.254953
female_labour_force_participation_rate                -0.255611
share_of_male_seats_in_parliament                     -0.298763
income_inequality                                     -0.432672
crude_death_rate_deaths_per_1000_population           -0.591471
education_inequality                                  -0.685776
rate_of_natural_change_per_1000_population            -0.698466
net_reproduction_rate_surviving_daughters_per_w...    -0.766226
adolescent_birth_rate_per_1000_women_ages_15_19       -0.796665
total_fertility_rate_live_births_per_woman            -0.845215
coefficient_of_human_inequality                       -0.853169
crude_birth_rate_births_per_1000_population           -0.868047

In [16]:
halfs = corrs_df[(corrs_df['Correlation'] >=0.5) | (corrs_df['Correlation']<=-0.5)]
halfs

                                                    Correlation
human_development_index                                0.918730
expected_years_of_schooling_female                     0.820617
expected_years_of_schooling                            0.806646
expected_years_of_schooling_male                       0.789946
median_age_as_of_july_1st_years                        0.789246
mean_years_of_schooling_female                         0.747716
mean_years_of_schooling                                0.737860
mean_years_of_schooling_male                           0.725305
female_population_with_some_secondary_education        0.689039
male_population_with_some_secondary_education          0.652450
gross_national_income_per_capita_2017_ppp              0.649458
gender_development_index                               0.604138
material_footprint_per_capita_tonnes                   0.586827
crude_death_rate_deaths_per_1000_population           -0.591471
education_inequality                                  -0.685776
rate_of_natural_change_per_1000_population            -0.698466
net_reproduction_rate_surviving_daughters_per_w...    -0.766226
adolescent_birth_rate_per_1000_women_ages_15_19       -0.796665
total_fertility_rate_live_births_per_woman            -0.845215
coefficient_of_human_inequality                       -0.853169
crude_birth_rate_births_per_1000_population           -0.868047

We can drop the variable ```human_development_index``` as it is a function of life expectancy at birth, education, and other variables and therefore doesn't have any real causality to the life expectancy at birth variable. We can use ```expected_years_of_schooling``` as there may be causality (we can drop the female and male tagged versions of the variable).

In [17]:
reg = LinearRegression().fit(X_train[['expected_years_of_schooling']], y_train)
score = reg.score(X_train[['expected_years_of_schooling']], y_train)
coef = reg.coef_
intercept = reg.intercept_

print(score, coef, intercept)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values